* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
html, body {
  margin:0;
}
header {
  padding:30px;
  background:#36A;
  text-align:center;
}
.wrap {
  margin:0 auto;
  max-width:900px;
}
.half {
  width:50%;
  float:left;
}
.third {
  width:50%;
  float:left;
}
